#main_toolbar {
	padding: 0px;
	padding-left: 5px;
	margin-top: 4px;
    margin-bottom: 0px;
    margin-right: 5px;
    border: 1px solid #000;
    width: 120px;
    height: 20px;
    vertical-align: middle;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("http://maps.gstatic.com/mapfiles/arrow-down.png") no-repeat 90% 50%;
}

.mapChartsButton {
    padding: 0px;
    margin: 0;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 120px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid #000;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}


form#charts_form{
  width: 120px;
  height: 20px;
  vertical-align: middle;
  padding: 0px;
  padding-bottom:0px;
  margin: 0px;
  }

form select.mapChartsButton{
    padding: 0px 0px;
    width: 120px;
    margin-bottom: 0px;
    height: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
	}
	
form select.mapButton{
    padding: 0px 0px;
    width: 120px;
    margin-bottom: 0px;
    height: 20px;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
	}